*{margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.main{
    width:100%;
    height:100vh;
}
nav{
 position:fixed;
 display: flex;
 width:100%;
 height:10vh;
 align-items:center;
 justify-content:space-between;
 padding: 0vw 10vw;
z-index: 99;
}
nav a,i{
    color:white;
    text-decoration:none;
}
.cnav{
    display:flex;
    gap:4vw;
}
nav i{
    padding-right:50px;
    font-size: larger;
}
.one{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
    background: linear-gradient(150deg,rgb(104, 10, 14)
    ,goldenrod);
}
#tea{
    width:400px;
    height:550px;
    z-index:2;
    position:absolute;

}
#tulsi{
    position:absolute;
    width:150px;
    rotate:10deg;
    height: 250px;
    top:10%;
    left:33%;
    z-index:5;
}
#ginger{
    position:absolute;
    height:250px;
    width:250px;
    bottom:8%;
    right:25%;
    z-index: 3;
    rotate:-15deg;
    
}
#cardm{
    position: absolute;
    z-index:4;
    width:170px;
    bottom:10%;
    left:33%;
    rotate:20deg;
}
#tata{
    position:absolute;
    z-index: 10;
    color:white;
    font-size:100px ;
    left:17%;
    
}
#teea{
    position:absolute;
    z-index:10;
    color:white;
    font-size:100px ;
    right:22%;
   
}
.two{
    display: flex;
  width:100%;
  height:100vh;
  background:rgba(108, 122, 18, 0.947);
}
.first,.second{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height:100vh;
}
.first svg{
    margin-top:50vh;
    width:90%;
    transform:rotateX(70deg);
} 
.second h1{
    color:rgb(104, 10, 14);
    text-decoration: underline;
}
.second p{
    color: white;
    font-size:20px;
}
